/* ================================================================================== */
/* Custom Admonitions                                                                 */
/* ================================================================================== */

/* SparkFun ========================================================================= */
.md-typeset :is(.tip)>:is(.admonition-title,summary):before {
  background-color: red;
}


/* GitHub =========================================================================== */
.md-typeset .admonition.github,
.md-typeset details.github {
  border-color: white;
}
.md-typeset .github > .admonition-title,
.md-typeset .github > summary {
  background-image: linear-gradient(to bottom, #8241f9, #4e277b);
  /* background-color: rgb(110, 64, 201); */
}
.md-typeset .github > .admonition-title::before,
.md-typeset .github > summary::before {
  background-color: white;
  -webkit-mask-image: var(--md-admonition-icon--github);
          mask-image: var(--md-admonition-icon--github);
}


/* Arduino ========================================================================== */
.md-typeset .admonition.arduino,
.md-typeset details.arduino {
  border-color: #005c5f;
}
.md-typeset .arduino > .admonition-title,
.md-typeset .arduino > summary {
  background-color: rgba(0, 92, 95, 0.1);
}
.md-typeset .arduino > .admonition-title::before,
.md-typeset .arduino > summary::before {
  background-color: #005c5f;
  -webkit-mask-image: var(--md-admonition-icon--arduino);
          mask-image: var(--md-admonition-icon--arduino);
}


/* Python =========================================================================== */
.md-typeset .admonition.python,
.md-typeset details.python {
  border-color: #3776ab;
}
.md-typeset .python > .admonition-title,
.md-typeset .python > summary {
  background-color: #1e415e;
}
.md-typeset .python > .admonition-title::before,
.md-typeset .python > summary::before {
  background-color: #3776ab;
  -webkit-mask-image: var(--md-admonition-icon--python);
          mask-image: var(--md-admonition-icon--python);
}


/* Code ============================================================================= */
.md-typeset .admonition.code,
.md-typeset details.code {
  border-color: #9e9e9e;
}
.md-typeset .code > .admonition-title,
.md-typeset .code > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .code > .admonition-title::before,
.md-typeset .code > summary::before {
  background-color: #9e9e9e;
  -webkit-mask-image: var(--md-admonition-icon--code);
          mask-image: var(--md-admonition-icon--code);
}


/* Terminal ========================================================================= */
.md-typeset .admonition.terminal,
.md-typeset details.terminal {
  border-color: #9e9e9e;
}
.md-typeset .terminal > .admonition-title,
.md-typeset .terminal > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .terminal > .admonition-title::before,
.md-typeset .terminal > summary::before {
  background-color: #9e9e9e;
  -webkit-mask-image: var(--md-admonition-icon--terminal);
          mask-image: var(--md-admonition-icon--terminal);
}


/* Serial Monitor =================================================================== */
.md-typeset .admonition.serial,
.md-typeset details.serial {
  border-color: #9e9e9e;
}
.md-typeset .serial > .admonition-title,
.md-typeset .serial > summary {
  background-color: rgba(158, 158, 158, 0.1);
}
.md-typeset .serial > .admonition-title::before,
.md-typeset .serial > summary::before {
  background-color: #9e9e9e;
  -webkit-mask-image: var(--md-admonition-icon--serial);
          mask-image: var(--md-admonition-icon--serial);
}




/* ================================================================================== */
/* Introduction                                                                       */
/* ================================================================================== */

/* Sets table width for introduction */
.md-typeset table.desc {
  width: 100%;
  display: table;
}
.md-typeset table.desc label{
  font-size: .85rem;
}



/* ================================================================================== */
/* Grid Cards                                                                     */
/* ================================================================================== */

/* Sets grid width for introduction */
.grid.cards.desc {
  grid-template-columns: 35% 65%;
}

/* Sets images size in grid cards */
.md-typeset .grid ul figure img {
  width: 100%;
  max-width: 200px;
}

/* Add compatibility to mobile platforms - by setting minimum width for grid cards */
@media (max-width: 750px) {
  .grid.cards.desc {
    grid-template-columns: 100%;
  }
}
/* ================================================================================== */
/* Parameters for PDF Rendering                                                       */
/* ================================================================================== */

/* Hides elemments with <class="pdf"> on webpage (used for the generated PDF) */
* + .pdf {
  display: none;
}

.md-typeset ul.pdf {
  display: none;
}

@media print {
  /* Shows elements with <class="pdf"> on webpage (used for the generated PDF) */
  * + .pdf {
    display: contents;
  }

  /* Limits images size in table */
  .pdf img {
    width: 100%;
    max-width: 200px;
  }

  .md-typeset ul.pdf {
    display: flow-root;
  }

  /* Sets table to 100% of page width */
  .md-typeset table:not([class]) {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .md-typeset table.pdf {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  
  /* Sets images size in tables */
  .md-typeset table:not([class]) td img {
    width: 100%;
    max-height: 150px;
  }

  /* Hides grid cards on pdf */
  .md-typeset .grid {
	  display: none;
  }

  .md-typeset .grid.grid.cards.desc {
	  display: none;
  }

  /* Sets grid card width (not working)
  Works for File > Print function, but not valid for PDF generator due to issue with Weazy
  * Refer to https://github.com/Kozea/WeasyPrint/issues/543
  .md-typeset .grid {
	display: grid;
	grid-template-columns: repeat(4, 25%);
  } */
  /* Shrinks card width to 25% and font to 8px (kind of works for PDF generator, but doesn't create columns)
  .md-typeset :is(.cards) {
	width: 25%;
	font-size: 8px;
  } */
  
  
  /* Sets maximum image size */
  .md-typeset img {
    max-width:  200px;
    max-height: 200px;
  }
  /* Fixes positioning of admonition icon */
  .md-typeset :is(.admonition-title,summary):before {
    top: 0.6rem;
    left: 0.6rem; 
  }
  /* Fixes appearance of admonition icon */
  .md-typeset :is(.admonition,details)>:last-child {
	  background-color: transparent; 
  }
  /* Fixes margin spacing for lists */
  .md-typeset ol,ul {
	  margin-left: 1.5rem;
  }

  /* Adjusts page break for PDF generator */
  article h2,h3,h4,h5,h6,ol,ul {
	  page-break-before: avoid;
  }
  article div.admonition {
	  page-break-before: avoid;
  }
  article table,ol,ul {
    page-break-inside: auto !important;
  }

  /* Displays first tab (workaround to rendering issue) */
  * + .tabbed-content {
    display: contents;
  }
  * + .tabbed-content .tabbed-block {
    display: contents;
    page-break-after: always;
  }

  /* Prevents page break when tabs are embedded in an admonition*/
  article details.note {
    display: inline-block;
    overflow: hidden;
    /* Hardcode max height to match code block size, when tabbed (need to find better alternative) */
    max-height: 138mm;
  }

  /* Limits size of code blocks in admonitions (workaround to rendering issue) */
  .md-typeset :is(pre, code) {
    display: inline-flexbox;
    max-height: 120mm;
    overflow: hidden;
  }
}